.introducere{
    width:500px;
    margin-left: 30%;
}
.introducere p{
    font-size: large;
}

.box{
    max-width: 300px;
    height:fit-content;
    background-color: #e3654b;
    margin:5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #261e20;
}

.box p{
    padding:10px;
}

.box h3{
    text-align: center;
    text-decoration: underline;
}

.box a{
    color:black;
}

section{
    display:inline-flex;
    flex-wrap: wrap;
    gap:15px;
}

body{
    background-color: #db7e6b;
}


img{
    height:300px;
    width:400px;
}