body {
  background: #222;
  font-family: Georgia, serif;
  color: #fff;
  /* font-size: 14px; */
}

#componente .box {
  width: 40%;
  border: dotted rgb(207, 153, 67);
}

#componente .contentComp img {
  width: 40%;
}

#componente p,
li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#componente .bag {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#software .box {
  width: 40%;
  border: dotted rgb(207, 153, 67);
}

#software p,
li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#software .contentComp img {
  width: 40%;
}

#software .bag {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#protejam .box {
  width: 40%;
  border: dotted rgb(207, 153, 67);
}

#protejam p,
li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#protejam .contentComp img {
  width: 40%;
}

#protejam .bag {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contentComp {
  width: 70%;
  margin: auto;
  margin-top: 5%;
}
a {
  color: #ffffcc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
a:hover,
a.selected {
  color: #ffcc00;
}

#timeline {
  width: fit-content;
  height: 600px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  background: url("http://www.csslab.cl/ejemplos/timelinr/latest/images/dot.gif")
    3px top repeat-y;
}

#dates {
  width: 100px;
  height: 600px;
  overflow: hidden;
  float: left;
}

#dates li {
  list-style: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 24px;
  padding-left: 10px;
  background: url("http://www.csslab.cl/ejemplos/timelinr/latest/images/biggerdot.png")
    left center no-repeat;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#issues {
  width: 1200px;
  height: 600px;
  overflow: hidden;
  float: left;
  text-align: center;
}

#issues li {
  max-width: 1100px;
  height: 600px;
  list-style: none;
  text-align: center;
}

#issues li h3 {
  color: #ffcc00;
  text-align: center;
  text-shadow: #000 1px 1px 2px;
}
#issues li p {
  text-align: center;
  margin: 10px 20px;
  font-weight: normal;
  font-size: normal;
  text-shadow: #000 1px 1px 2px;
}

#issues li .box {
  max-width: 300px;
}

#issues li .bag {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

#issues img {
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #261e20;
}

#issues .bag img {
  height: 190px;
  width: 220px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #261e20;
}
.menu {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 4;
  background-color: transparent;
  border: none;
}

.exit {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 5;
  display: none;
}

.top {
  position: fixed;
  top: 0%;
  height: 0vh;
  width: 100vw;

  background-image: url("photos/fundal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  transition: 1s;
  z-index: 4;
}

.bottom {
  position: fixed;
  bottom: 0%;
  height: 0vh;
  width: 100vw;

  background-image: url("photos/fundal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  transition: 1s;
  z-index: 4;
}

.menuContent {
  position: fixed;
  left: 15%;
  top: 30%;
  z-index: 5;
  display: none;
}

.option {
  padding: 10px;
  width: 100%;
}

.option:hover {
  transform: scale(1.2);
}

.option a {
  color: #00f200;
  text-decoration: none;
}

.option h1 {
  font-family: monospace;
  font-weight: lighter;
}
