body {
  background-image: url("photos/fundal.png");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.intro {
  position: absolute;
  left: 5%;
  top: 10%;
}

.intro h1 {
  font-family: monospace;
  font-weight: lighter;
  color: #00f200;
}

.content {
  position: absolute;
  left: 15%;
  top: 30%;
}

.option {
  padding: 10px;
  width: 100%;
}

.option:hover {
  transform: scale(1.2);
}

.option a {
  color: #00f200;
  text-decoration: none;
}

.option h1 {
  font-family: monospace;
  font-weight: lighter;
}
